<div id="footer" class="footer">
    <div style="height:1em"></div>
<div class="buttWrap2" style="margin-left:2em;">
    <div class="bw2 f" style="width:6em"><a href="#wave" onclick="closeNav()" class="hlink innav">About Us</a></div>
    <div class="bw2 f" style="width:7em"><a href="#fadewrap" onclick="closeNav()" class="hlink innav">Contact Us</a></div>
    <div class="bw2 f" style="width:7.7em"><a href="" onclick="closeNav()" class="hlink innav">Explore Now</a></div>
    <div class="bw2 f" style="width:4.8em"><a href="/user/auth" onclick="closeNav()" class="hlink innav" id="join">Join Us</a></div>
<div class="cw">©Biz Maven is a registered trademark of BM.inc</div></div>
</div>